@{
    ViewData["Title"] = "Ver Prodcutos boton ojo";
}
<h1>@ViewData["Title"]</h1>

<p>"Aqui se pondran la lista de los productos que hay con sus datos"</p>
<p>Vista Prodcuto especifico boton ojo</p>
